<% render_req ||= true # render_req is true for single file edit, false for batch edit  %>
<div class="control-group">
  <% vals = multimedium[key] %>
  <% if render_req && required?(key) %>
      <% tmp = '<span class="error">*</span>' + get_label(key) %>
      <%= f.label key, tmp.html_safe, :class => "control-label" %>
  <% else %>
      <%= f.label key, get_label(key), :class => "control-label" %>
  <% end %>
  <% if vals.length!=0 %>
  <% vals.to_ary.each_with_index do |v, index| %>
      <%= f.text_field key, :name=>"multimedium[#{key.to_s}][]", :id => "multimedium_"+key.to_s, :value=> v   %>
    <% end %>
      <% else %>
      <%= f.text_field key, :name=>"multimedium[#{key.to_s}][]", :id => "multimedium_"+key.to_s, :value=>""   %>
<% end %>


</div><!-- /control-group -->
